.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  width: 90%;
  height: 100%;
  background: #1f1f1f;
  border: 1px solid purple;
  border-radius: 0.3rem;

}

.list-items {
  border: 1px dotted white;
  margin: 1rem 0 1rem 0;
  height: 10rem;
  width: 100%;
  border-radius: 0.3rem;
}

.item-section {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: white;
}

.img {
  color: yellow;
  width: 30%;
  border: 1px solid purple;
}

.info {
  width: 70%;;
  color: palevioletred;
}
