@import url("http://fonts.cdnfonts.com/css/neo-sans-std-tr");

@import 'navItems.css';

body {
  background-color: #000000;
}

h1 {
  color: white;
  font-family: "Neo Sans Std TR", sans-serif;
}

.navbar {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 80px;
  border-bottom: 1px solid #14ffec;
  position: relative;
  width: 100%;
}

.sider {
  flex-direction: column;
  line-height: 5rem;
  height: 100vh;
  width: 10rem;
  position: relative;
  overflow: hidden;
  padding: 0;
  border-right: 1px solid #14ffec;
  
}


