@import url("http://fonts.cdnfonts.com/css/neo-sans-std-tr");

body {
  background-color: #000000;
}

h1 {
  color: white;
  font-family: "Neo Sans Std TR", sans-serif;
}

header {
  border-bottom: 1px solid #14ffec;
  position: fixed;
  width: 100%;
  height: 5rem;
}

