@import url("http://fonts.cdnfonts.com/css/neo-sans-std-tr");

@import "navItems.css";

body {
  background: #0c0c0c;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: "Neo Sans Std TR", sans-serif;
}

.navbar {
  background: #161616;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 80px;
  border-bottom: 1px solid #14ffec;
  width: 100%;
}

.sider {
  display: flex;
  background: #161616;
  flex-direction: column;
  line-height: 4rem;
  height: 100vh;
  width: 10rem;
  position: relative;
  padding: 0;
  margin: 0;
  border-right: 1px solid #14ffec;
}

.new-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
