@import url("http://fonts.cdnfonts.com/css/neo-sans-std-tr");

.sider-list {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 12%;
  width: 100%;
  list-style: none;
}

.sider-item {
  font-family: "Neo Sans Std TR", sans-serif;
  box-sizing: border-box;
}

.sider-btn {
  width: 100%;
  font-family: "Neo Sans Std TR", sans-serif;
  display: inline-block;
  color: #03e9f4;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 0.2rem;
}

.sider-btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
